<div class="hero-section">
  <div class="hero-content">
    <div class="hero-left">
      <h1>
        MAXIME <br>
        OUDIN
      </h1>
      <div class="dev-container">
        <%= image_tag "yellow_logo.svg", class: "hero-logo", alt: "Logo Maxime Oudin" %>
        <span class="highlight">Développeur web</span>
      </div>
    </div>

    <div class="hero-right">
      <nav class="hero-nav">
        <a href="../projets" class="nav-link">Projets</a>
        <a href="../articles" class="nav-link">Articles</a>
        <a href="#"
           class="nav-link"
           data-tally-open="mB7p75"
           data-tally-hide-title="1"
           data-tally-overlay="1"
           data-tally-emoji-text="👋"
           data-tally-emoji-animation="wave">
          Contact
        </a>
      </nav>

      <div class="social-links">
        <a href="https://github.com/MaxOudin" target="_blank" aria-label="Github">
          <i class="fab fa-github"></i>
        </a>
        <a href="https://www.linkedin.com/in/maxime-oudin-developer/" target="_blank" aria-label="LinkedIn">
          <i class="fab fa-linkedin"></i>
        </a>
      </div>
    </div>
  </div>

  <div class="marquee">
    <div class="marquee-content">
      <span>RUBY</span>
      <span class="separator-dot"></span>
      <span>RAILS</span>
      <span class="separator-dot"></span>
      <span>JAVASCRIPT</span>
      <span class="separator-dot"></span>
      <span>STIMULUS</span>
      <span class="separator-dot"></span>
      <span>POSTGRESQL</span>
      <span class="separator-dot"></span>
    </div>
    <div class="marquee-content" aria-hidden="true">
      <span>RUBY</span>
      <span class="separator-dot"></span>
      <span>RAILS</span>
      <span class="separator-dot"></span>
      <span>JAVASCRIPT</span>
      <span class="separator-dot"></span>
      <span>STIMULUS</span>
      <span class="separator-dot"></span>
      <span>POSTGRESQL</span>
      <span class="separator-dot"></span>
    </div>
    <div class="marquee-content" aria-hidden="true">
      <span>RUBY</span>
      <span class="separator-dot"></span>
      <span>RAILS</span>
      <span class="separator-dot"></span>
      <span>JAVASCRIPT</span>
      <span class="separator-dot"></span>
      <span>STIMULUS</span>
      <span class="separator-dot"></span>
      <span>POSTGRESQL</span>
      <span class="separator-dot"></span>
    </div>
  </div>
</div>
