
<div class="banner"
      style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://res.cloudinary.com/dyleaesxc/image/upload/v1706306291/fond-connexion-reseau-degrade_23-2148870455-modified_gmau2q.webp);
            display:flex; justify-content:center;
            width: 100%;">
  <div class="container-hero"
        style="width:65vw; display:flex; flex-direction:column; align-items:center;">
    <div style="display:flex; flex-direction: column; justify-content: space-between;">
      <h3 style="color:white; text-align: left; font-family:'Montserrat'; font-size: 24px;">
        Bienvenue !
      </h3>

      <h1 style="margin-top:5vh; margin-bottom:5vh; text-align:center; color:white">
        Je suis Maxime Oudin, <br> <span style="font-weight:bold;"> développeur web </span> à Bordeaux.</h1>
      <p style="margin-top:3vh; margin-bottom:3vh; text-align: left; font-size: 20px; color:white">
        Vous avez un projet de site internet ? <br> Vous souhaitez développer votre activité en ligne ? <br> Vous avez besoin d’un développeur web pour vous accompagner ? <br>
      </p>
      <h3 style="margin-top:5vh; margin-bottom:3vh; color:white; text-align: left; font-family:'Montserrat'; font-size: 20px;">
        Pour créer votre site vitrine percutant, site e-commerce, ou logiciel sur mesure...
      </h3>
    </div>

    <div style="margin-top:5vh; margin-bottom: 3vh; display: flex; align-items:flex-end; justify-content:center;">
        <a class="btn btn-primary"
          style="padding: 1vh; padding-left: 2vw; padding-right: 2vw; background: linear-gradient(90deg, rgba(93,224,230,1) 0%, rgba(0,74,173,1) 100%); border: 0px; color: black; font-weight: bold; font-size: 18px;"
          href="#contact-infos"
          aria-label="Choisissez le mode de contact"
          >Contactez-moi</a>
    </div>
  </div>
</div>
<div style="background:white; color: #141414; display: flex; flex-direction: column; align-items: center">
  <div style="width: 54%; text-align: center; margin-top:2vh;">
    <h3 style="font-weight: bold; text-align: left; margin-top: 4vh; margin-bottom: 2vh;">Mes derniers projets</h3>
    <p style="text-align: left;">Vous trouverez les précédentes réalisations significatives en cliquant sur le bouton ci-dessous.
      Pour chacun des projets, vous avez la possibilité de voir les outils utilisés et un texte descriptif de celui-ci.</p>
  </div>
  <div class="section-cta-projets" style="background: white; height:180px; display: flex; align-items: center; justify-content: center;">
          <a class="btn btn-primary"
            style="background: #141414; color: white; border: 1px solid #141414; padding:1vh; padding-left: 2vw; padding-right: 2vw; font-weight: bold; font-size: 18px;"
            href="../projets"
            aria-label="Voir les projets réalisés par Maxime Oudin"
            >Voir les projets</a>
  </div>
</div>
