<div class="banner">

  <%# <%= render 'shared/navbar' %>

  <div class="container-hero">
    <div class="content">
      <h1>
        Maxime Oudin, <br><br> <span class="bold"> développeur web </span> indépendant à Bordeaux.
      </h1>
      <p> Vous avez un projet de site internet ? </p>
      <p> Vous souhaitez développer votre activité en ligne ? </p>
      <p> Vous avez besoin d’un développeur web pour vous accompagner ? </p>
      <br>
      <h3> Pour créer votre site vitrine percutant, site e-commerce, ou logiciel sur mesure... </h3>
    </div>
    <div style="margin-top: 4vh;">
      <a href="#contact-infos" class="btn btn-cta-contact">Contacter Maxime</a>
    </div>
  </div>
</div>

<div class="container-cta-projets">
  <div class="content-cta-projets">
    <h3>Mes derniers projets</h3>
    <p>Je vous accueille dans ma galerie de projets réalisés avec passion et expertise. Explorez un univers où chaque pixel raconte une histoire, où chaque ligne de code donne vie à une vision unique. Des sites web intuitifs aux applications innovantes, je vous invite à découvrir l'excellence de mon travail. Plongez dans mon portfolio et laissez-vous inspirer par mes réalisations qui repoussent les limites de la créativité et de la technologie.</p>
  </div>
  <div class="container-btn-cta-projets">
    <a class="btn btn-cta-projets" href="../projets" aria-label="Voir les projets réalisés par Maxime Oudin">Voir les projets</a>
  </div>
  <div class="content-cta-projets">
    <h3>Mes derniers articles</h3>
    <p>Découvrez un monde de connaissances et d'inspiration sur des sujets qui façonnent l'avenir du web. Des astuces pour optimiser votre présence en ligne aux dernières tendances en développement web, en passant par la sécurité des sites et l'éco-conception. Mes articles sont conçus pour enrichir votre expérience numérique. Plongez dans un univers où chaque clic vous rapproche d'une expertise de pointe et d'une vision durable pour le web de demain... Ainsi qu'à moi-même !</p>
    </div>
  <div class="container-btn-cta-projets">
    <a class="btn btn-cta-projets" href="../articles" aria-label="Voir les articles rédigés par Maxime Oudin">Voir les articles</a>
  </div>
</div>
