
<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://res.cloudinary.com/dyleaesxc/image/upload/v1704995910/banner-modified_s3tq0m.webp); display:flex; justify-content:center;">
  <div class="container-hero" style="width:65vw; display:flex; flex-direction:column; align-items:center;">
    <div>
      <h3 style="color:white; text-align: left; font-family:'Montserrat'; font-size: 20px;">
        Bonjour !
      </h3>

      <h1 style="margin-top:5vh; margin-bottom:5vh; text-align:center;">
        Je suis <strong>Maxime Oudin</strong>, <br>
        <span style="font-weight:bold;"> développeur web </span> à Bordeaux.
      </h1>

      <p style="margin-top:1vh; margin-bottom:1vh; text-align: left; font-size: 20px;">
        Vous avez un projet de site internet ? <br> Vous souhaitez développer votre activité en ligne ? <br> Vous avez besoin d’un développeur web pour vous accompagner ? <br>
      </p>
      <h3 style="margin-top:3vh; margin-bottom:3vh; color:white; text-align: left; font-family:'Montserrat'; font-size: 20px;">
        Pour créer votre site vitrine percutant, site e-commerce, ou logiciel sur mesure...
      </h3>
    </div>

    <div style="margin-top:6vh; margin-bottom:1vh;">
        <a class="btn btn-primary"
            style="padding:0.8vw; background: linear-gradient(90deg, rgba(93,224,230,1) 0%, rgba(0,74,173,1) 100%); border:0px; color:black; font-weight:bold; font-size:18px;"
            href="https://linktr.ee/maximeoudin"
            aria-label="Rendez vous sur mon Linktree pour choisir le mode de contact"
            target="_blank" >Contactez-moi</a>
    </div>
  </div>
</div>
