
<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://res.cloudinary.com/dyleaesxc/image/upload/v1704995910/banner-modified_s3tq0m.webp);">
  <div class="container">
      <h3>
        Bonjour !
      </h3>

      <h1 style="margin-top:5vh; margin-bottom:5vh;">
        Je suis Maxime Oudin, <br>
        <span> développeur web à Bordeaux. </span>
      </h1>

      <h3 style="margin-top:4vh; margin-bottom:4vh;">
        Site vitrine percutant, site e-commerce, ou logiciel sur mesure...
      </h3>

      <p style="margin-top:4vh; margin-bottom:4vh;">
        Vous avez un projet de site internet ? <br> Vous souhaitez développer votre activité en ligne ? <br> Vous avez besoin d’un développeur web pour vous accompagner ? <br>
      </p>

      <div style="margin-top:4vh; margin-bottom:4vh;">
        <a class="btn btn-primary" href="https://linktr.ee/maximeoudin" target="_blank" >Contactez-moi</a>
      </div>
  </div>
</div>
