<div>
  <div>
    <h2 class="welcome">
      Bonjour !
    </h2>

    <h1 class="hero-titre">
      Je suis Maxime Oudin,
      <span> développeur web à Bordeaux </span>
    </h1>

    <div>
      <h2>
        Je crée votre internet pour votre besoin spécifique.
      </h2>

      <h3>
        Site vitrine percutant, site e-commerce, ou logiciel sur mesure, je suis là pour concrétiser votre vision.
      </h3>

      <h3>
        Esprits créatifs, entrepreneurs visionnaires, associations engagées, entreprises dynamiques… Ensemble, nous façonnerons une solution performante et parfaitement adaptée à vos besoins.
      </h3>

    </div>
  </div>
</div>
