<% content_for :meta_product_name, "#{@projet.titre} - #{DEFAULT_META["meta_product_name"]}" %>
<% content_for :meta_title, "#{@projet.titre} - #{DEFAULT_META["meta_title"]}" %>
<% content_for :meta_description, @projet.description.truncate(160) %>
<% content_for :meta_image, @projet.image_url if @projet.image_url.present? %>


<div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 py-8">
  <!-- Breadcrumbs -->
  <%= render_breadcrumbs %>
  <!-- En-tête du projet -->
  <%= render "projet", projet: @projet %>

  <div class="mt-6 pt-6 border-t border-gray-200 flex justify-center w-full max-w-full">
  <%= link_to projets_path, class: "inline-flex items-center justify-center gap-2 px-4 py-2 bg-gray-200 text-gray-700 rounded-lg hover:bg-gray-300 transition-colors whitespace-nowrap" do %>
      <span>Retour aux projets</span> 
    <% end %>
  </div>
</div>
