.article-container {
  width: 75%;
  display: flex;
  flex-direction: column;
  text-align: left;
  margin-top: 2vh;
}

.description-paragraphe {
  text-align: justify;
}

@media (max-width: 768px) {
  .article-container {
  width: 100%;
  }
}
