<% content_for :meta_product_name, "#{@article.titre} - #{DEFAULT_META["meta_product_name"]}" %>
<% content_for :meta_title, "#{@article.titre} - #{DEFAULT_META["meta_title"]}" %>
<% description = @article.content.to_plain_text.truncate(160) rescue @article.titre %>
<% content_for :meta_description, description %>
<% content_for :meta_image, @article.image_url if @article.image_url.present? %>

<div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 py-8">
  <!-- Breadcrumbs -->
  <%= render_breadcrumbs %>
  <!-- En-tête de l'article -->
  <%= render "article", article: @article %>

  <div class="mt-6 pt-6 border-t border-gray-200 flex justify-center w-full max-w-full">
  <%= link_to articles_path, class: "inline-flex items-center justify-center gap-2 px-4 py-2 bg-gray-200 text-gray-700 rounded-lg hover:bg-gray-300 transition-colors whitespace-nowrap" do %>
      <span>Retour aux articles</span> 
    <% end %>
  </div>
</div>
