<div class="footer">
  <div class="footer-links">
    <a href="https://github.com/MaxOudin"><i class="fab fa-github"></i></a>
    <a href="https://www.malt.fr/profile/maximeoudin"><i class="fab fa-malt"></i></a>

    <a href="https://www.linkedin.com/in/maxime-oudin-developer/"><i class="fab fa-linkedin"></i></a>
  </div>
  <div class="footer-copyright">
    Site internet artisanal
    ©2024 Maxime Oudin Pro.
    Tous droits réservés Maxime
  </div>
</div>
