<div class="navbar navbar-expand-sm navbar-light navbar-custom" style="height:80px;">
  <div class="navbar-logo-container">
    <a class="navbar-brand" href="#">
        <img src="https://res.cloudinary.com/dyleaesxc/image/upload/v1705009354/Logo_black_and_white_recoupe_pwq2m8.png" alt="Logo Maxime Oudin" />
    </a>
  </div>

    <div class="dropdown-nav">
      <button class="bouton-dropdown" type="button">
        Menu
      </button>
      <ul class="dropdown-menu">
        <li><a class="dropdown-item" href="#">Accueil</a></li>
        <li><a class="dropdown-item" href="#">Projets</a></li>
        <li><a class="dropdown-item" href="#">LinkedIn</a></li>
        <li><a class="dropdown-item" href="https://linktr.ee/maximeoudin" target="_blank"> Mode de Contact</a></li>
      </ul>
    </div>

</div>
