<div class="navbar navbar-custom" id="navbar">
  <div class="navbar-logo-container">
    <a class="navbar-brand" href="/">
      <img src="https://res.cloudinary.com/dyleaesxc/image/upload/v1705009354/Logo_black_and_white_recoupe_pwq2m8.png" alt="Logo Maxime Oudin" style="width: 100px; height: auto;">
    </a>
  </div>

  <div class="dropdown-nav" data-controller="dropdownmenu">
    <button class="bouton-dropdown" data-action="click->dropdownmenu#toggleDropdown">
      <i class="fa-solid fa-bars"></i>
    </button>
    <ul class="dropdown-menu" data-dropdownmenu-target="menu">
      <li class="dropdown-item"><a href="/projets" class="nav-link">Projets</a></li>
      <li class="dropdown-item"><a href="/articles" class="nav-link">Articles</a></li>
      <li class="dropdown-item"><a href="#contact-infos" class="nav-link-contact">Contact</a></li>
    </ul>
  </div>
</div>
