.btn {
  border-radius: 4px; cursor: pointer;
  font-weight: bold;
  padding: 1vh 1vw 1vh 1vw;
  text-decoration: none;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.btn:hover {
  transition: all 0.3s ease-in;
}
.btn-projets {
  background: #141414;
  color:rgb(93,224,230);
  border: 1px solid #141414;
  box-shadow: 0px 0px 6px 0px #141414;
  height: 4vh;
}
.btn-projets:hover {
  background: rgb(93,224,230);
  color: #141414;
  transition: all 0.3s ease-in;
}
.en-savoir-plus-btn {
  color: #141414;
  font-weight: bold;
  margin-right: 1vh;
  margin-bottom: 1vh;
  padding: 1vh 2vw;
  border: 2px solid; /* Vous pouvez ajuster l'épaisseur et le style de la bordure ici */
  background: transparent;
  text-decoration: none; /* Supprimer le soulignement par défaut des liens */
  transition: all 0.3s ease; /* Ajouter une transition pour l'animation */
}
.en-savoir-plus-btn:hover {
  background: #141414;
  color: white;
}
.retour-accueil-btn {
  background: white;
  color: #141414;
  border: 1px solid white;
  box-shadow: 0px 0px 6px 0px #141414;
}
.retour-accueil-btn:hover {
  background: #141414;
  color: #93E0E6;
  border: 1px solid rgb(93,224,230);
  box-shadow: 0px 0px 6px 0px rgb(93,224,230);
}
