.btn {
  border-radius: 4px; cursor: pointer;
  font-weight: bold;
  padding: 1vh 2vw 1vh 2vw;
  height: 4vh;
  text-decoration: none;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease-in;
}
.btn:hover {
  transition: all 0.3s ease-in;
}
.btn-projets {
  background: #141414;
  color:rgb(93,224,230);
  border: 1px solid #141414;
  box-shadow: 0px 0px 6px 0px #141414;
}
.btn-projets:hover {
  background: rgb(93,224,230);
  color: #141414;
  transition: all 0.3s ease-in;
}
.retour-accueil-btn {
  color: #141414;
  box-shadow: 0px 0px 6px 0px #141414;
}
.retour-accueil-btn:hover {
  box-shadow: 0px 0px 2px 0px #141414;
}

@media (max-width: 768px) {

}
