/* Styles pour les conteneurs de cartes */
.cards-container {
  background: white;
  color: #141414;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 2vh;
}

.cards-container-project {
  width: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 2vh 0;
}

/* Styles pour les cartes */
.card {
  width: 24rem;
  margin: 2vh 2vw;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.2);
}

/* Styles pour les éléments à l'intérieur de la carte */
.card-img-top {
  width: 100%;
  max-width: 24rem;
  border-top-left-radius: calc(0.25rem - 1px);
  border-top-right-radius: calc(0.25rem - 1px);
}

.card-body {
  flex: 1 1 auto;
  padding: 1.25rem;
}

/* Styles spécifiques pour les éléments de contenu de la carte */
.card-body h4 {
  font-size: 16px;
}

.card-body .card-title {
  font-size: 28px;
}

.card-body .card-text {
  font-size: 16px;
}
