/* Styles pour les conteneurs de cartes */
.container-projets {
  display: flex;
  flex-direction: column;
  align-items: center; /* Centrer les cartes horizontalement */
  padding: 3vh 10vw;
  text-align: left;
  width: 70vw;
  align-self: center;
}

.container-cartes {
  width: 70vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: center; /* Centrer les cartes verticalement */
}

.container-une-carte {
  width: 35vw;
  margin: 5vh;
  border-radius: 4px;
  background: white;
  text-align: left;
  box-shadow: 0 0 10px 0 #141414; /* Ajouter une ombre portée */
  transition: all 0.3s ease;
}

.container-une-carte:hover {
  box-shadow: 0 0 2px 0 #141414;
}

.container-une-carte a,
.container-une-carte a:visited {
  text-decoration: none;
  color: #141414;
}

.container-une-carte .card-img {
  border-radius: 4px;
  position: relative;
  text-align: center;
}

.container-une-carte .card-img img {
  height: 300px;
  width: 100%;
}

.container-une-carte .card-img::before {
  content: '';
  position: absolute;
  bottom: -8px;
  left: 50%;
  margin-left: -10px;
  width: 0;
  height: 0;
  border-top: solid 10px transparent;
  border-left: solid 10px transparent;
  border-right: solid 10px transparent;
}

.container-une-carte .card-img h3 {
  position: absolute;
  font-size: 2.5rem; /* font-size-4xl */
  bottom: 15px;
  width: 100%;
  color: #FFFFFF; /* text-light */
  font-weight: 700; /* font-weight-bold */
}

.container-une-carte .card-details {
  margin-top: 20px;
}

.container-une-carte .card-details span {
  padding: 0 30px;
}

.container-une-carte .card-details span i {
  margin-right: 5px;
}

.container-une-carte .card-text {
  display: flex;
  flex-direction: column;
  padding: 10px 11px;
  line-height: 22px;
}

.container-une-carte .card-text h3 {
  font-weight: 700; /* font-weight-bold */
  font-family: 'Montserrat', sans-serif; /* font-family-base */
}

.container-btn-projets {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin: 1vw;
}

.en-savoir-plus-btn {
  color: #141414;
  box-shadow: 0 0 6px 0 #141414; /* Ajouter une ombre portée */
  transition: all 0.3s ease; /* Ajouter une transition pour l'animation */
}

.en-savoir-plus-btn:hover {
  box-shadow: 0 0 0px 0 #141414;
}

.info-carte-article {
  display: flex;
  justify-content: space-between;
  display: table;
}

.card-pastille {
  border-radius: 6px;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  color: white;
}

.pastille-show {
  padding: 2vh 2vw 2vh 2vw;
}

.date-publication-article {
  font-size: 14px;
  opacity: 0.7;
  display: flex;
  justify-content: flex-end;
  margin-left: 2vh;
}

@media (max-width: 768px) {
  .container-projets {
    text-align: center;
  }
  .container-cartes {
    width: 90vw;
    max-width: fit-content;
  }
  .container-une-carte {
    width: 100%;
    max-width: fit-content;
    margin-left: 0;
    margin-right: 0;
  }
  .en-savoir-plus-btn {
    width: 30vw;
  }
}



