/* Styles pour les conteneurs de cartes */
.container-projets {
  display: flex;
  flex-direction: column;
  align-items: center; /* Centrer les cartes horizontalement */
}

.container-cartes {
  width: 70vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: center; /* Centrer les cartes verticalement */
}

.container-une-carte {
  width: 24rem;
  height: 20rem; /* Taille fixe pour la carte */
  padding: 1rem;
  margin-top: 4rem;
  margin-bottom: 4rem;
  position: relative; /* Pour positionner le lien au-dessus de l'image */
  border-radius: 4px;
}

.container-une-carte img {
  height: 100%;
  width: 24rem;
  object-fit: cover; /* Redimensionne l'image pour qu'elle remplisse le conteneur en coupant les parties excédentaires */
  object-position: center; /* Centre l'image à l'intérieur de son conteneur */
  overflow: hidden;
}

.container-une-carte .carte-lien {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1; /* Assure que le lien est cliquable au-dessus de l'image */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: white;
}

.container-une-carte:hover img {
  opacity: 0; /* Fait disparaître l'image au survol */
}

.container-une-carte:hover {
  border-color: rgba(255, 255, 255, 0.8); /* Change la couleur de la bordure au survol */
}

/* Style pour le bouton "En savoir plus" */
.en-savoir-plus-btn {
  margin-top: 1rem; /* Ajoute de l'espace entre le texte et le bouton */
}
