/* Styles pour les conteneurs de cartes */
.container-projets {
  display: flex;
  flex-direction: column;
  align-items: center; /* Centrer les cartes horizontalement */
  padding: 3vh 10vw;
  text-align: left;
  width: 70vw;
  align-self: center;
}

.container-cartes {
  width: 70vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: center; /* Centrer les cartes verticalement */
}

.container-une-carte {
  max-width: 35vw;  
  margin: 5vh;
  border-radius: 4px;
  background: white;
  text-align: left;
  box-shadow: 0 0 10px 0 #141414; /* Ajouter une ombre portée */


  &:hover {
    box-shadow: 0 0 2px 0 #141414;
    transition: all 0.3s ease;
  }

  a, a:visited {
    text-decoration: none;
    color: #141414;
  }

  .card-img {
    border-radius: 4px;
    position: relative;
    text-align: center;

    img {
      max-height: 300px;
      width: 100%;
    }

    &:before {
      position: absolute;
      bottom: -8px;
      left: 50%;
      margin-left: -10px;
      width: 0;
      height: 0;
      border-top: solid 10px transparent;
      border-left: solid 10px transparent;
      border-right: solid 10px transparent;
    }

    h3 {
      position: absolute;
      font-size: 42px;
      bottom: 15px;
      width: 100%;
      color: white !important;
      font-weight: bold;
      font-family: 'Montserrat', sans-serif !important;
    }
  }

  .card-details {
    margin-top: 20px;

    span {
      padding: 0 30px;

      i {
        margin-right: 5px;
      }
    }
  }

  .card-text {
    display: flex;
    flex-direction: column;
    padding: 10px 11px;
    line-height: 22px;

    h3 {
      font-weight: bold;
      font-family: 'Montserrat', sans-serif !important;
    }
  }
}
.container-btn-projets {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin: 1vw;
}

.en-savoir-plus-btn {
  color: #141414;
  box-shadow: 0 0 6px 0 #141414; /* Ajouter une ombre portée */
  transition: all 0.3s ease; /* Ajouter une transition pour l'animation */
}
.en-savoir-plus-btn:hover {
  box-shadow: 0 0 0px 0 #141414;
}

.card-pastille {
  padding: 10px 10px 10px 10px;
  border-radius: 4px;
  width: fit-content;
  color: white;
}

@media (max-width: 768px) {
  .container-projets {
    padding: 1vh 3vw;
    text-align: center;
    width: 90vw;
  }
  .container-cartes {
    width: 90vw;
  }
  .container-une-carte {
    max-width: 100%;
    margin: 2vh;
  }
  .en-savoir-plus-btn {
    width: 30vw;
  }
}
