.footer-section {
  background-color: #141414;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  color: white;
  min-height: 35vh;
}

.footer-logo-container {
  margin-top: 3vh;
  margin-bottom: 2vh;
}

.footer-logo img {
  width: 60vw;
  margin-bottom: 1vh;
  height: auto;
  align-items: center;
}

.footer-text {
  width: 80%;
  text-align: center;
}

.footer-links {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.footer-links a {
  color: white;
  opacity: 0.8;
  font-size: 2.5rem;
}
.footer-links a:hover {
  color: rgb(93,224,230);
  opacity: 1;
  transition: all 0.3s ease-in;
}

.footer-end {
  width: 90vw;
  display: flex;
  flex-direction: column;
  padding-top: 3vh;
  padding-bottom: 3vh;
}

.footer-copyright {
  display: flex;
  flex-direction: column;
  width: 80vw;
  padding-right: 7vw;
  color: white;
  opacity: 0.8;
  font-size: 14px;
}

.nav-link-mentions {
  text-decoration: none;
  color: white;
  opacity: 0.8;
  font-size: 14px !important;
}

.contact-infos {
  background: linear-gradient(90deg, rgba(93,224,230,1) 0%, rgba(0,74,173,1) 100%);
  color:black;
  font-weight:bold;
  padding: 1vh 2vw 1vh 2vw;
  border-radius:4px;
}

.btn-contact {
  background: #141414;
  color: rgb(93,224,230);
  border: 1px solid rgb(93,224,230);
  box-shadow: 0px 0px 6px 0px #141414;
}

.btn-contact a {
  color: rgba(93,224,230,1);
}

.btn-contact:hover {
  background: rgb(93,224,230);
  color: #141414;
  transition: all 0.3s ease-in;
}

.btn-contact:hover a {
  color: #141414;
}


// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .footer-logo img {
    width: 50vw;
  }

  .footer-text {
    width: 80%;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 700px) {
  .footer-logo img {
    width: 40vw;
    padding-top: 1vh;
  }

  .footer-text {
    width: 50vw;
  }

  .footer-links {
    width: 35vw;
    padding-top: 0vh;
    padding-bottom: 0vh;
  }

  .footer-end {
    display: flex;
    flex-direction: row-reverse;
  }

  .footer-copywright {
    width: 64vw;
    padding-top: 0vh;
    padding-bottom: 0vh;
    display: flex;
    flex-direction: row;
  }

  .footer-copywright p {
    padding-top: 0vh;
    padding-bottom: 0vh;
  }

  .links-end {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }
}
