.form-container {
  margin: 5vh auto;
  width: 90%;
  max-width: 800px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 $spacing-md;
}

.field {
  width: 100%;
  margin: 2vh 0;
  align-self: flex-start !important;

  input, select, textarea {
    width: 100%;
    max-width: 100%;
  }
}

@media (max-width: $tablet) {
  .form-container {
    width: 95%;
    padding: 0 $spacing-sm;
  }

  .trix-editor {
    max-width: 100%;
    overflow-x: auto;
  }
}
