.navbar-custom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  color: black;
  padding: 10px 20px;
  width: 70vw;
  align-self: center;
}

.navbar-logo-container img {
  width: 100px;
  height: auto;
}

.dropdown-nav {
  position: relative;
}

.dropdown-menu {
  display: none;
  position: absolute;
  padding: 10px;
  top: 60%;
  left: 0;
  width: max-content;
  background-color: white;
  transition: all 0.3s ease-in;

  a {
    color: #141414;
    font-size: 16px;

    &:hover {
      text-decoration: underline;
    }
  }
}

.dropdown-menu.visible {
  transition: all 0.3s ease-in;
  display: block; /* Show the dropdown menu when visible class is present */
}

.dropdown-menu li {
  list-style: none;
}

.nav-link {
  border-radius: 4px; cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  text-decoration: none;
}

.nav-link:hover {
  text-decoration: underline;
}

.nav-link-contact {
  background: #141414;
  color: rgb(93, 224, 230) !important;
  border: 1px solid rgb(93, 224, 230);
  border-radius: 4px; cursor: pointer;
  padding: 1vh 2vw 1vh 2vw;
  text-decoration: none;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bouton-dropdown {
  background-color: white;
  color: #141414;
  box-shadow: 0px 0px 6px 0px #141414;
  border: 1px solid #141414;
  font-weight: bold;
  padding: 1vh 1vw 1vh 1vw;
  border-radius: 4px;
  text-align: center;
  cursor: pointer;
  transition: all 0.3s ease-in;
  margin-right: 8vw;

  &:hover {
    box-shadow: 0px 0px 2px 0px #141414;
  }
}

.nav-transparent {
  background-color: transparent !important;
  color: white !important;
  opacity: 0.7 !important;
}

@media (max-width: 768px) {
  .navbar-custom {
    width: 90vw;
  }
  .dropdown-menu {
    left: -20px;
    width: max-content;
  }
}
