.footer-section {
  background: linear-gradient(180deg, rgba(20,20,20,1) 0%, rgba(20,20,20,1) 50%, rgba(0,74,173,1) 100%);
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  color: white;
  min-height: 35vh;
}

.footer-logo-container {
  margin-top: 6vh;
  margin-bottom: 3vh;
}

.footer-logo img {
  width: 80vw;
  margin-bottom: 3vh;
  height: auto;
  align-items: center;
}

.footer-text {
  width: 90%;
  text-align: center;
}

.footer-links {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 3vh;
  margin-bottom: 3vh;
  width: 80vw;
}

.footer-links a {
  color: white;
  opacity: 0.8;
  font-size: 2rem;
}

.footer-end {
  width: 90vw;
  display: flex;
  flex-direction: column;
  padding-top: 3vh;
}

.footer-copyright {
  display: flex;
  flex-direction: column;
  width: 80vw;
  margin-bottom: 3vh;
  padding-right: 7vw;
  color: white;
}

.nav-link-mentions {
  text-decoration: none;
  color: white;
  opacity: 0.8;
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .footer-logo img {
    width: 50vw;
  }

  .footer-text {
    width: 80%;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 700px) {
  .footer-logo img {
    width: 30vw;
    padding-top: 2vh;
  }

  .footer-text {
    width: 50vw;
  }

  .footer-links {
    width: 35vw;
    padding-top: 0vh;
    padding-bottom: 0vh;
  }

  .footer-links a:hover {
    opacity: 1;
  }

  .footer-end {
    display: flex;
    flex-direction: row-reverse;
  }

  .footer-copywright {
    width: 64vw;
    padding-top: 0vh;
    padding-bottom: 0vh;
    display: flex;
    flex-direction: row;
  }

  .footer-copywright p {
    padding-top: 0vh;
    padding-bottom: 0vh;
  }

  .links-end {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }
}
