.footer {
  background: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 200px;
  width: 100vw;
  color: rgba(0,0,0,0.3);
  margin-left: 0;
}
.footer-links {
  display: flex;
  align-items: center;
}
.footer-links a {
  color: #141414;
  opacity: 0.15;
  text-decoration: none;
  font-size: 24px;
  padding: 0px 10px;
}
.footer-links a:hover {
  opacity: 1;
}

.footer-copywright {
  display: flex;
  flex-direction: column;
  align-items: center;

}
