.banner {
  background-size: cover;
  background-position: center;
  padding: 50px 0;
}

.banner h1 {
  margin: 5vh 0 5vh 0;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 40px !important;
  font-weight: bold;
}

.container h3 {
  font-family: 'Montserrat', sans-serif !important;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}

.banner p {
  font-size: 20px !important;
  color: white;
  opacity: .8;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}
