.navbar-custom {
  display: flex;
  background-color: #141414;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem 0 2rem !important;
}

.navbar-brand img {
  width: 70px;
}

// // Small devices (landscape phones, 576px and up)
// @media (min-width: 576px) {

// }

// // Large devices (desktops, 992px and up)
// @media (min-width: 700px) {
// }
