.navbar {
  width: 100%;
  display: flex;
  flex-direction: row;
  background-color: #141414;
  justify-content: space-between;
  align-items: center;
}

.navbar .navbar-collapse {
  flex-grow: 0;
}

.navbar .navbar-brand img {
  width: 100px;
}

.dropdown-menu {
  display: none;
}

.bouton-dropdown {
  /* Styles pour le bouton dropdown */
  /* Ajoutez d'autres styles personnalisés au besoin */
}


// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {

}

// Large devices (desktops, 992px and up)
@media (min-width: 700px) {

}
