.navbar-monsite {
  justify-content: space-between;
  background-color: black;
  opacity: 0.0;
  
}

.navbar-monsite .navbar-collapse {
  flex-grow: 0;
}

.navbar-monsite .navbar-brand img {
  width: 100px;
}

.avatar {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-right: 10px;
}
