// Configuration
@import "config/variables";

// Components
@import "components/index";
@import "pages/index";

// Libraries
@import "font-awesome";

// Global styles
body {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  line-height: 1.5;
  background-color: $background;
  color: $text-primary;
}

.container-application {
  background-color: $background;
  color: $text-primary;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

h1, h2, h3 {
  font-family: 'Playfair Display SC', serif;
  color: $text-primary;
  margin-bottom: $spacing-md;
}

a {
  text-decoration: none;
  color: $secondary;
  transition: $transition-normal;

  &:hover {
    color: $primary;
  }
}

@media (max-width: 768px) {
}
