
 // Internal styles
@import "components/index";
@import "pages/index";

 // Libraries imported
@import "font-awesome";

// Global styles
.container-application {
  background-color: white;
  color: #141414;
  display: flex;
  flex-direction: column;
}

body {
  font-family: 'Montserrat', sans-serif;
  margin: 0 !important;
}

body h1, h2, h3 {
  font-family: 'Playfair Display SC', serif;
}

a:link {
  text-decoration: none;
}


@media (max-width: 768px) {
}
